.banner {
  margin-top: 20.866rem;
}

/* banner-main : begin */

.banner .banner-main {
  background: #ffdbce;
  border-radius: 2rem;
}

.banner .banner-main .image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  user-select: none;
}

.banner .banner-main:hover {
  outline: 0.1rem solid var(--primary-color);
  cursor: pointer;
}
/* banner-main : end */

/* banner-service: begin */

.banner .banner-service {
  --col-total: 10;
  margin-top: 1.6rem;
  user-select: none;
}

.banner .banner-service .service-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  cursor: pointer;
  transition: scale 0.4s ease;
}

.banner .banner-service .service-item .refund-icon {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .banner-service .service-item a {
  font-size: 1.8rem;
  font-weight: 600;
  color: #3e3e3e;
}

.banner .banner-service .service-item:hover {
  scale: 1.2;
}

.banner .banner-service .service-item:hover a {
  color: var(--primary-color);
}
/* dành cho mobile */
.banner .banner-service .service-item:focus {
  scale: 1.2;
}

.banner .banner-service .service-item:focus a {
  color: var(--primary-color);
}
/* dành cho mobile: end */

/* banner-service: end */
.banner .banner-sub {
  --column-space: 4.6rem;
  position: relative;
  user-select: none;
}
.banner .banner-sub div[class*="banner-"] {
  background: var(--secondary-color);
  border-radius: 3rem;
}

.banner .banner-sub div[class*="banner-"]:hover {
  outline: 0.1rem solid var(--primary-color);
}

/* banner : end */

/* mobile:begin */
/* ẩn row chứa content */
.banner .banner-main .row:nth-child(2) {
  display: none;
}

.banner .content {
  display: none;
  max-width: 35.4rem;
  margin-top: -2.4rem;
  margin-inline: auto;
  text-align: center;
}

.banner .content .content-title {
  text-indent: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #323232;
  line-height: 1.25;
}

.banner .content .content-description {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  color: #3e3e3e;
}

.banner .content .view-all-btn {
  display: flex;
  align-items: center;
  margin-block: 1.2rem 1.3rem;
  margin-inline: auto;
  max-width: max-content;
  padding: 0.55rem 3.8rem;
  background: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
  border-radius: 82.4rem;
  transition: background 0.4s ease;
  user-select: none;
}

.banner .content .view-all-btn a {
  color: #fff;
  font-size: 1.154rem;
  font-weight: 500;
  line-height: 1.4;
}

.banner .content .view-all-btn i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.19rem;
  height: 1.19rem;
  border-radius: 50%;
  background: #ffece5;
  margin-left: 1rem;
  font-size: 0.8rem;
  color: var(--primary-color);
}

.banner .content .view-all-btn:hover {
  background: var(--secondary-color);
  border: 0.1rem solid var(--primary-color);
}

.banner .content .view-all-btn:hover a {
  color: var(--primary-color);
}

.banner .content .view-all-btn:hover i {
  background: var(--primary-color);
  color: #fff;
}

.banner .banner-sub .content {
  max-width: 15.7rem;
  text-align: left;
  position: absolute;
  top: 5.872rem;
  left: 4.218rem;
}

.banner .banner-sub .content .content-title {
  text-indent: 0;
}

.banner .banner-sub .content .view-all-btn {
  margin-inline: 0;
  padding: 0.33rem 1.15rem;
}
/* mobile: end */
