.news-promotions {
  position: relative;
  top: 18.9rem;
  left: 0;
  right: 0;
  margin-top: 4rem;
}

.news-promotions .news-promotions-inner .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.news-promotions .news-promotions-inner .title h3 a {
  font-size: 3.2rem;
  font-weight: 600;
  color: #323232;
}

.news-promotions .news-promotions-inner .fa-arrow-right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  font-size: 1.4rem;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
.news-promotions .news-promotions-inner .sub-heading {
  display: none;
  margin-bottom: 2.6rem;
}
.news-promotions .news-promotions-inner .sub-title h3 a {
  font-size: 2rem;
  font-weight: 600;
  color: #323232;
}

.news-promotions .news-promotions-inner .all-new a {
  margin-right: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
}

.news-promotions .news-promotions-inner .news-promotions-list {
  --column-space: 4rem;
}
.news-promotions .news-promotions-inner .news-promotions-list .col-4 {
  margin-bottom: 0;
}
.news-promotions
  .news-promotions-inner
  .news-promotions-list
  .news-promotions-blog {
  padding: 2.3rem;
  border: 0.1rem solid #ededed;
  border-radius: 2rem;
}
.news-promotions
  .news-promotions-inner
  .news-promotions-list
  .news-promotions-blog
  .image {
  padding-bottom: 2.1rem;
}
.news-promotions
  .news-promotions-inner
  .news-promotions-list
  .news-promotions-blog
  h4
  a {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.news-promotions
  .news-promotions-inner
  .news-promotions-list
  .col-4:hover
  .news-promotions-blog {
  border: 0.1rem solid var(--primary-color);
}
