#product {
  margin-top: 1.6rem;
}

#product .title h2 {
  font-size: 3.2rem;
  font-weight: 600;
  color: #323232;
  line-height: normal;
  user-select: none;
  cursor: default;
}

#product .title-all {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  user-select: none;
}

#product .title-all a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #404040;
}

#product .title-all .content-all {
  margin-right: 0.7rem;
}

#product .title-all .content-all:hover {
  color: var(--primary-color);
}

#product .title-all .arrow-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background: #ffece5;
  color: #ed5b1f;
  font-size: 1.2rem;
  font-weight: 700;
}

#product .title-all .arrow-icon:hover {
  background: var(--primary-color);
  color: #fff;
}
/* [class*="title"] : end */

#product .by-categories {
  --col-total: 10;
}

#product .by-categories .row {
  align-items: center;
}

#product .by-categories > .row:nth-child(1) {
  display: none;
}

#product .by-categories .product-banner {
  --column-space: 4.784rem;
}

#product .by-categories .product-banner .banner-item {
  border-radius: 3rem;
  background: var(--secondary-color);
}

#product .by-categories .product-banner .banner-item:hover {
  outline: 0.1rem solid var(--primary-color);
}

/* mobile page-icon: begin */
#product .by-categories .product-banner .page-icon {
  margin-inline: auto;
  display: none;
}

#product .by-categories .product-banner .page-icon span {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background: #e5e5e5;
  border-radius: 50%;
}

#product .by-categories .product-banner .page-icon input:checked + span {
  background: var(--primary-color);
}

/* mobile page-icon: end */

/* .product-banner : end */

#product .product-list .col-2:nth-child(6) {
  display: none;
}

#product .product-list .item {
  padding: 1.2rem 1.1rem;
  border: 0.1rem solid #f2f2f2;
  border-radius: 3rem;
  position: relative;
}
#product .product-list .item .image {
  user-select: none;
}

#product .product-list .item .item-body {
  padding-inline: 0.8rem;
  margin-top: 1.2rem;
}
#product .product-list .item .item-body h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}

#product .product-list .item .item-body p {
  margin-top: 0.8rem;
  font-size: 1.5525rem;
  font-weight: 600;
  color: var(--primary-color);
  line-height: 1.2;
}

#product .product-list .item .item-body .shopping-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
  padding-block: 0.64rem;
  border-radius: 12.9rem;
  background: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.5525rem;
  color: var(--primary-color);
  user-select: none;
  cursor: pointer;
}

#product .product-list .item .item-body .shopping-btn a {
  color: var(--primary-color);
}

#product .product-list .item:hover {
  border: 0.1rem solid #ffdbce;
}

#product .product-list .item .item-body .shopping-btn:hover,
#product .product-list .item .item-body .shopping-btn:hover a {
  background: var(--primary-color);
  color: #fff;
}
/* mobile */
#product .product-list .item .item-body .shopping-btn:focus,
#product .product-list .item .item-body .shopping-btn:focus a {
  background: var(--primary-color);
  color: #fff;
}
/* mobile */

#product .product-list .item .favorite label {
  position: absolute;
  top: 2.4rem;
  right: 2.1rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  cursor: pointer;
}

#product .product-list .item .favorite .favorite-icon {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.4rem;
  font-size: 1.6rem;
}

#product .product-list .item .favorite label input:checked + .favorite-icon {
  background: rgb(250, 36, 61);
  color: #fff;
}

#product .product-list .item .favorite label:hover .favorite-icon {
  color: rgb(250, 36, 61);
}
/* item : end */

#product .see-all {
  margin-top: -1rem;
  padding: 0.7rem 3.4rem;
  text-align: center;
}

#product .see-all a {
  padding: 0.7rem 3.4rem;
  border: 0.1rem solid var(--secondary-color);
  border-radius: 12.9rem;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.5525rem;
}

#product .see-all a:hover {
  border: 0.1rem solid var(--primary-color);
  background: var(--primary-color);
  color: #fff;
}
/* see-all : end */

/* by-categories: end */

#product .best-selling {
  --column-space: 3.693rem;
  margin-top: 1.6rem;
}

#product .best-selling > .row:nth-child(1) {
  display: none;
}

#product .mobile-title h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  color: #323232;
}

#product .best-selling .best-selling-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  border-radius: 3rem;
  margin-top: 2.607rem;
}

#product .best-selling .best-selling-banner .image {
  margin-top: 2rem;
  user-select: none;
}

#product .best-selling .best-selling-banner .content {
  margin-block: 0.4rem 2.9rem;
}

#product .best-selling .best-selling-banner .content .content-title {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--secondary-color);
  line-height: normal;
}

#product .best-selling .best-selling-banner .content .view-all-btn {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
  margin-inline: auto;
  max-width: max-content;
  padding: 0.65rem 2.02rem;
  background: #f5f6f8;
  border: 0.1rem solid var(--primary-color);
  border-radius: 10rem;
  transition: background 0.4s ease;
  user-select: none;
}

#product .best-selling .best-selling-banner .content .view-all-btn a {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

#product .best-selling .best-selling-banner .content .view-all-btn i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.44rem;
  height: 1.44rem;
  border-radius: 50%;
  background: #ffece5;
  margin-left: 1rem;
  font-size: 1rem;
  color: var(--primary-color);
}

#product .best-selling .best-selling-banner .content .view-all-btn:hover {
  background: var(--primary-color);
  border: 0.1rem solid var(--secondary-color);
}

#product .best-selling .best-selling-banner .content .view-all-btn:hover a {
  color: #fff;
}

#product .best-selling .best-selling-banner .content .view-all-btn:hover i {
  background: var(--primary-color);
  color: #fff;
}

#product .best-selling .product-list {
  --column-space: 2.4rem;
  margin-top: 2.607rem;
}

/* .best-selling : end */

#product .latest {
  margin-top: 0.307rem;
}

#product .latest .product-list {
  --col-total: 10;
  margin-top: -0.4rem;
}

#product .latest > .row:nth-child(1) {
  display: none;
}
