.collection {
  margin-top: 18.9rem;
}

.collection .title {
  padding: 1.2rem 2.2rem;
  margin-top: 2.7rem;
  border: 0.1rem solid #e5e5e5;
  border-bottom: 0;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.collection .title h3 a {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.55;
  color: #323232;
}

.collection .categories,
.collection .content,
.collection .rate-catalog,
.collection .brand-list {
  border: 0.1rem solid #e5e5e5;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  padding: 1.2rem 2.2rem;
  margin-bottom: 2.4rem;
}

.collection .categories {
  padding-bottom: 1.9rem;
}

.collection .categories li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection .categories li a {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #3e3e3e;
  line-height: 2;
}

.collection .categories li a:hover {
  text-decoration: underline;
}

.collection .categories li span {
  display: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: #3e3e3e;
  line-height: 2;
}

/* end .product-catalog */

.collection .price-range .range {
  margin-block: 1.7rem 2.7rem;
  display: flex;
  position: relative;
}

.collection .price-range input {
  width: 100%;
  color: var(--primary-color);
  accent-color: var(--primary-color);
  cursor: pointer;
}

.collection .price-range .content p {
  margin-bottom: 2.7rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #3e3e3e;
  line-height: 1.44;
}

.collection .price-range .content .button {
  width: 40%;
  background: var(--primary-color);
  padding-block: 0.661rem;
  border-radius: 0.413rem;
  margin-bottom: 4.2rem;
  cursor: pointer;
  user-select: none;
  transition: box-shadow 0.4s ease;
}

.collection .price-range .content .button a {
  padding-inline: 3.1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.collection .price-range .content .button:hover {
  box-shadow: 0 0 0.8rem 0 var(--primary-color);
}

/* .price-range end */

.collection label {
  user-select: none;
  cursor: pointer;
}

.collection .rate-catalog {
  padding-block: 1.2rem 4.6rem;
  padding-inline: 2.2rem 3.5rem;
  cursor: default;
}

.collection .rate .rate-catalog li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.collection .rate .rate-catalog li span {
  color: #787777;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}

.collection .rate .rate-catalog li .icon-primary-color {
  color: var(--primary-color);
}

.collection .rate .rate-catalog li .icon-gray-color {
  color: #e5e5e5;
}

.collection .square-btn {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid #3e3e3e;
  border-radius: 0.3rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s ease;
  transition-property: background;
}

.collection .square-btn::before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.4rem;
  border: 0.08rem solid var(--primary-color);
  border-width: 0 0 0.08rem 0.08rem;
  rotate: -45deg;
  position: absolute;
  top: -8px;
  left: -4px;
  transition: 0.4s ease;
  transition-property: top left;
}

.collection input:checked ~ .square-btn {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.collection input:checked ~ .square-btn::before {
  top: 2px;
  left: 2px;
  border-color: #fff;
}

/* .rate : end */

.collection .brand-list {
  padding-bottom: 7.8rem;
}

.collection .brand .brand-list li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.collection .brand .brand-list li label {
  text-transform: capitalize;
}

/* .brand-list: end */

.collection .categories-content .advertise {
  background: #ffdacd;
}

.collection .advertise {
  margin-top: 3.4rem;
  border-radius: 2.5rem;
  text-align: center;
  padding: 4.4rem 0 5.7rem;
}

.collection .advertise .image {
  margin-bottom: 3rem;
}

.collection .advertise .content-adv a {
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #951418;
  line-height: 1.2;
}

.collection .advertise .view-all-btn {
  margin-inline: auto;
  width: 42%;
  margin-top: 3.3rem;
  border: 0.1rem solid #fff;
  border-radius: 10rem;
  padding: 0.5rem 0;
  background: #fff;
  cursor: pointer;
  user-select: none;
  transition: background 0.4s ease;
}

.collection .advertise .view-all-btn a {
  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ed5a25;
  transition: color 0.4s ease;
}

.collection .advertise .view-all-btn .fa-arrow-right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background: #ffece5;
  border-radius: 50%;
  font-size: 1rem;
  color: #ed5b1f;
  transition: color 0.4s ease;
}

.collection .advertise .view-all-btn:hover {
  background: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
}

.collection .advertise .view-all-btn:hover a {
  color: #fff;
}

.collection .advertise .view-all-btn:hover i {
  background: var(--primary-color);
  color: #fff;
}
