.modal {
  position: fixed;
  inset: 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 101;
}

.modal .modal-inner {
  position: absolute;
  top: 1.9rem;
  left: 1.2rem;
  width: 34.1rem;
  background: #fff;
  z-index: 117;
  border-radius: 2rem;
}

.modal .modal-inner .fa-solid {
  font-size: 1.6rem;
  color: #787777;
}
.modal .modal-inner a {
  font-size: 1.4rem;
  font-weight: 600;
  color: #565656;
}
.modal .modal-inner .title,
.modal .modal-inner .categories li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal .modal-inner .title {
  padding: 2.8rem 2.7rem 2.4rem;
  border-bottom: 0.1rem solid #ddd;
}
.modal .modal-inner .title h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #565656;
}
.modal .modal-inner .categories {
  padding: 1.5rem 2.7rem 3.1rem;
}
.modal .modal-inner .categories li {
  font-size: 1.6rem;
  font-weight: 400;
  color: #3e3e3e;
}
.modal .modal-inner .categories li span {
  color: #afafaf;
}
.modal .modal-overlay {
  position: absolute;
  top: -1.9rem;
  left: 0;
  bottom: 0;
  right: 0;
  background: #909090ad;
  z-index: 105;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  transition-property: opacity visibility;
}

#menu-toggle:checked ~ .modal {
  transform: translateX(0);
}

#menu-toggle:checked ~ .modal .modal-overlay {
  opacity: 1;
  visibility: visible;
}
