@media screen and (max-width: 1399.98px) {
  .container {
    padding-inline: 0;
  }
  .col-xxl-1 {
    --col-size: 1;
  }

  .col-xxl-2 {
    --col-size: 2;
  }

  .col-xxl-3 {
    --col-size: 3;
  }

  .col-xxl-4 {
    --col-size: 4;
  }

  .col-xxl-5 {
    --col-size: 5;
  }

  .col-xxl-6 {
    --col-size: 6;
  }

  .col-xxl-7 {
    --col-size: 7;
  }

  .col-xxl-8 {
    --col-size: 8;
  }

  .col-xxl-9 {
    --col-size: 9;
  }

  .col-xxl-10 {
    --col-size: 10;
  }

  .col-xxl-11 {
    --col-size: 11;
  }

  .col-xxl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 1299.98px) {
  .container {
    padding-inline: var(--container-padding);
  }
}

@media screen and (max-width: 1199.98px) {
  .col-xl-1 {
    --col-size: 1;
  }

  .col-xl-2 {
    --col-size: 2;
  }

  .col-xl-3 {
    --col-size: 3;
  }

  .col-xl-4 {
    --col-size: 4;
  }

  .col-xl-5 {
    --col-size: 5;
  }

  .col-xl-6 {
    --col-size: 6;
  }

  .col-xl-7 {
    --col-size: 7;
  }

  .col-xl-8 {
    --col-size: 8;
  }

  .col-xl-9 {
    --col-size: 9;
  }

  .col-xl-10 {
    --col-size: 10;
  }

  .col-xl-11 {
    --col-size: 11;
  }

  .col-xl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 991.98px) {
  #header .heading .heading-search .condition {
    padding: 1.3rem 1rem;
  }

  #header .about-info .other .about-account:hover .arrow-down {
    rotate: 0deg;
  }

  #header .about-info .other .about-account #sign-toggle:checked ~ .sign,
  #header
    .about-info
    .other
    .about-account
    #sign-toggle:checked
    ~ .sign-overlay {
    opacity: 1;
    visibility: visible;
  }

  #header .about-info .other .about-account #sign-toggle:not(:checked) ~ .sign {
    opacity: 0;
    visibility: hidden;
  }

  /* #header : end */

  .collection .categories-content .col-lg-4:nth-child(16),
  .collection .categories-content .col-lg-4:nth-child(17),
  .collection .categories-content .col-lg-4:nth-child(18),
  .collection .categories-content .col-lg-4:nth-child(19),
  .collection .categories-content .col-lg-4:nth-child(20) {
    display: none;
  }

  .collection .advertise {
    padding: 1.55rem 0 2.85rem;
  }
  .col-lg-1 {
    --col-size: 1;
  }

  .col-lg-2 {
    --col-size: 2;
  }

  .col-lg-3 {
    --col-size: 3;
  }

  .col-lg-4 {
    --col-size: 4;
  }

  .col-lg-5 {
    --col-size: 5;
  }

  .col-lg-6 {
    --col-size: 6;
  }

  .col-lg-7 {
    --col-size: 7;
  }

  .col-lg-8 {
    --col-size: 8;
  }

  .col-lg-9 {
    --col-size: 9;
  }

  .col-lg-10 {
    --col-size: 10;
  }

  .col-lg-11 {
    --col-size: 11;
  }

  .col-lg-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 767.98px) {
  #header {
    --column-space: 0;
  }

  #header .container {
    padding-inline: 1.5rem;
  }

  #header .contact a {
    padding-block: 1.65rem;
    font-size: 1.4rem;
  }

  #header .contact a::before {
    rotate: -75deg;
  }

  #header .heading,
  #header .about-info .row:nth-child(2),
  #header .navigation-contact .row:nth-child(2) {
    display: none;
  }

  #header .about-info .row:nth-child(1),
  #header .navigation-contact .row:nth-child(1) {
    display: flex;
    padding: 0;
    margin: 0;
  }

  #header .col-md-6 {
    margin-bottom: 0;
  }

  /* #header : end */

  .collection {
    margin-top: 15.5rem;
  }

  .collection .navigation {
    display: block;
  }

  .collection .categories-content .col-md-0 {
    display: none;
  }

  .collection .categories-content .product-catalog,
  .collection .categories-content .price-range,
  .collection .categories-content .rate,
  .collection .categories-content .brand,
  .collection .categories-content .advertise {
    display: none;
  }

  .collection .product-show .sort-btn {
    display: flex;
  }

  .collection .product-show {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .collection .product-show p {
    font-size: 1.6rem;
  }

  .collection .item .image img {
    width: 100%;
    object-fit: cover;
  }

  .collection .location-list {
    margin-top: 8rem;
  }

  .collection .adv-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* footer */
  #footer {
    margin-top: 4.3rem;
    --column-space: 0;
  }

  #footer [class*="-block"],
  #footer .company,
  #footer .certification {
    padding-inline: 2rem;
  }
  #footer .col-sm-6:nth-child(1) {
    order: 1;
  }
  #footer .col-sm-6:nth-child(2) {
    order: 2;
  }
  #footer .col-sm-6:nth-child(3) {
    order: 4;
  }
  #footer .col-sm-6:nth-child(4) {
    order: 3;
  }

  #footer .social-block {
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
  }

  .col-md-0 {
    --col-size: 0;
  }

  .col-md-1 {
    --col-size: 1;
  }

  .col-md-2 {
    --col-size: 2;
  }

  .col-md-3 {
    --col-size: 3;
  }

  .col-md-4 {
    --col-size: 4;
  }

  .col-md-5 {
    --col-size: 5;
  }

  .col-md-6 {
    --col-size: 6;
  }

  .col-md-7 {
    --col-size: 7;
  }

  .col-md-8 {
    --col-size: 8;
  }

  .col-md-9 {
    --col-size: 9;
  }

  .col-md-10 {
    --col-size: 10;
  }

  .col-md-11 {
    --col-size: 11;
  }

  .col-md-12 {
    --col-size: 12;
  }

  .col-offset-md-2 {
    --col-offset-size: 2;
  }

  .col-offset-md-3 {
    --col-offset-size: 3;
  }
}

@media screen and (max-width: 575.98px) {
  #header .col-sm-6 {
    margin-bottom: 0;
  }

  /* end #header */
  .collection .categories-content .col-lg-4:nth-child(15) {
    display: none;
  }

  .collection .adv-mobile {
    margin-inline: 1.5rem;
  }

  /* footer */
  #footer {
    margin-top: 4.3rem;
    --column-space: 0;
  }

  #footer [class*="-block"],
  #footer .company,
  #footer .certification {
    padding-inline: 2rem;
  }
  #footer .col-sm-6:nth-child(1) {
    order: 1;
  }
  #footer .col-sm-6:nth-child(2) {
    order: 2;
  }
  #footer .col-sm-6:nth-child(3) {
    order: 4;
  }
  #footer .col-sm-6:nth-child(4) {
    order: 3;
  }

  #footer .social-block {
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
  }

  #footer .payment-block .payment-list li {
    display: flex;
    justify-content: space-between;
    gap: 0.47rem;
    width: 21.6rem;
    height: 4.7rem;
    margin-bottom: 0.6rem;
  }

  #footer .payment-block .payment-list li a {
    padding: 1rem;
  }

  .col-sm-1 {
    --col-size: 1;
  }

  .col-sm-2 {
    --col-size: 2;
  }

  .col-sm-3 {
    --col-size: 3;
  }

  .col-sm-4 {
    --col-size: 4;
  }

  .col-sm-5 {
    --col-size: 5;
  }

  .col-sm-6 {
    --col-size: 6;
  }

  .col-sm-7 {
    --col-size: 7;
  }

  .col-sm-8 {
    --col-size: 8;
  }

  .col-sm-9 {
    --col-size: 9;
  }

  .col-sm-10 {
    --col-size: 10;
  }

  .col-sm-11 {
    --col-size: 11;
  }

  .col-sm-12 {
    --col-size: 12;
  }

  .col-offset-sm-0 {
    --col-offset-size: 0;
  }
}

@media screen and (max-width: 430.98px) {
  #header .col-sm-6 {
    margin-bottom: 0;
  }

  /* end #header */
  .collection .product-show p {
    font-size: 1.472rem;
  }
  /* footer */
  #footer {
    margin-top: 4.3rem;
    --column-space: 0;
  }

  #footer [class*="-block"],
  #footer .company,
  #footer .certification {
    padding-inline: 2rem;
  }
  #footer .col-sm-6:nth-child(1) {
    order: 1;
  }
  #footer .col-sm-6:nth-child(2) {
    order: 2;
  }
  #footer .col-sm-6:nth-child(3) {
    order: 4;
  }
  #footer .col-sm-6:nth-child(4) {
    order: 3;
  }

  #footer .social-block {
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
  }

  #footer .payment-block .payment-list li {
    display: flex;
    justify-content: space-between;
    gap: 0.47rem;
    width: 16rem;
    height: 3.8rem;
    margin-bottom: 0.6rem;
  }

  #footer .payment-block .payment-list li a {
    padding: 1rem;
  }

  #footer .certification .certification-image {
    gap: 1.7rem;
  }

  .col-sm-1 {
    --col-size: 1;
  }

  .col-sm-2 {
    --col-size: 2;
  }

  .col-sm-3 {
    --col-size: 3;
  }

  .col-sm-4 {
    --col-size: 4;
  }

  .col-sm-5 {
    --col-size: 5;
  }

  .col-sm-6 {
    --col-size: 6;
  }

  .col-sm-7 {
    --col-size: 7;
  }

  .col-sm-8 {
    --col-size: 8;
  }

  .col-sm-9 {
    --col-size: 9;
  }

  .col-sm-10 {
    --col-size: 10;
  }

  .col-sm-11 {
    --col-size: 11;
  }

  .col-sm-12 {
    --col-size: 12;
  }

  .col-offset-sm-0 {
    --col-offset-size: 0;
  }
}
