@media screen and (max-width: 1399.98px) {
  .modal {
    display: none;
  }
  .col-xxl-1 {
    --col-size: 1;
  }

  .col-xxl-2 {
    --col-size: 2;
  }

  .col-xxl-3 {
    --col-size: 3;
  }

  .col-xxl-4 {
    --col-size: 4;
  }

  .col-xxl-5 {
    --col-size: 5;
  }

  .col-xxl-6 {
    --col-size: 6;
  }

  .col-xxl-7 {
    --col-size: 7;
  }

  .col-xxl-8 {
    --col-size: 8;
  }

  .col-xxl-9 {
    --col-size: 9;
  }

  .col-xxl-10 {
    --col-size: 10;
  }

  .col-xxl-11 {
    --col-size: 11;
  }

  .col-xxl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 1299.98px) {
  .container {
    padding-inline: var(--container-padding);
  }
  .header .header-inner .row-heading .search-box #search-button {
    width: 29rem;
  }

  /* col-size */
  .col-xl-1 {
    --col-size: 1;
  }

  .col-xl-2 {
    --col-size: 2;
  }

  .col-xl-3 {
    --col-size: 3;
  }

  .col-xl-4 {
    --col-size: 4;
  }

  .col-xl-5 {
    --col-size: 5;
  }

  .col-xl-6 {
    --col-size: 6;
  }

  .col-xl-7 {
    --col-size: 7;
  }

  .col-xl-8 {
    --col-size: 8;
  }

  .col-xl-9 {
    --col-size: 9;
  }

  .col-xl-10 {
    --col-size: 10;
  }

  .col-xl-11 {
    --col-size: 11;
  }

  .col-xl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 1199.98px) {
  .header .header-inner .row-heading .search-box #search-button {
    width: 29rem;
  }

  /* col-size */
  .col-xl-1 {
    --col-size: 1;
  }

  .col-xl-2 {
    --col-size: 2;
  }

  .col-xl-3 {
    --col-size: 3;
  }

  .col-xl-4 {
    --col-size: 4;
  }

  .col-xl-5 {
    --col-size: 5;
  }

  .col-xl-6 {
    --col-size: 6;
  }

  .col-xl-7 {
    --col-size: 7;
  }

  .col-xl-8 {
    --col-size: 8;
  }

  .col-xl-9 {
    --col-size: 9;
  }

  .col-xl-10 {
    --col-size: 10;
  }

  .col-xl-11 {
    --col-size: 11;
  }

  .col-xl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 991.98px) {
  .header .container {
    padding-inline: 0;
  }

  .header .header-inner {
    --column-space: 0;
  }

  .header .header-inner .row-about,
  .header .header-inner .row-heading,
  .header .header-inner .row-nav {
    padding-inline: 1.5rem;
  }

  .header .header-inner .heading .header-logo {
    margin-bottom: 2.4rem;
  }

  .header .header-inner .row-heading .search-box #search-button {
    width: 20rem;
  }
  /* header : end */

  .collection .collection-inner .col-lg-4:nth-child(16),
  .collection .collection-inner .col-lg-4:nth-child(17),
  .collection .collection-inner .col-lg-4:nth-child(18),
  .collection .collection-inner .col-lg-4:nth-child(19),
  .collection .collection-inner .col-lg-4:nth-child(20) {
    display: none;
  }

  .collection .collection-inner {
    --column-space: 1rem;
  }
  .col-lg-1 {
    --col-size: 1;
  }

  .col-lg-2 {
    --col-size: 2;
  }

  .col-lg-3 {
    --col-size: 3;
  }

  .col-lg-4 {
    --col-size: 4;
  }

  .col-lg-5 {
    --col-size: 5;
  }

  .col-lg-6 {
    --col-size: 6;
  }

  .col-lg-7 {
    --col-size: 7;
  }

  .col-lg-8 {
    --col-size: 8;
  }

  .col-lg-9 {
    --col-size: 9;
  }

  .col-lg-10 {
    --col-size: 10;
  }

  .col-lg-11 {
    --col-size: 11;
  }

  .col-lg-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 767.98px) {
  .modal {
    display: block;
  }
  .header .header-inner [class*="col-"] {
    --column-space: 3rem;
  }
  .header .header-inner .row-about .about-us,
  .header .header-inner .row-about .about-more,
  .header .header-inner .row-heading .col-5,
  .header .header-inner .row-heading .col-7,
  .header .header-inner .row-nav {
    display: none;
  }
  .header .header-inner .row-about .image,
  .header .header-inner .row-about .contact {
    display: block;
  }
  .header .header-inner .row-heading {
    padding: 0;
  }
  .header .header-inner .row-heading .heading-icon-mb {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    padding: 1.5rem 0rem;
  }

  .collection {
    position: relative;
    top: 12.7rem;
  }

  .collection .collection-inner .category-list {
    display: none;
  }

  .collection .collection-inner .location-list {
    margin-top: 28.1rem;
    margin-bottom: 3.6rem;
  }
  .collection .collection-inner .adv-mobile,
  .collection .collection-inner .product-show .sort-btn {
    display: block;
  }

  .collection .collection-inner .adv-mobile .advertise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col-md-1 {
    --col-size: 1;
  }

  .col-md-2 {
    --col-size: 2;
  }

  .col-md-3 {
    --col-size: 3;
  }

  .col-md-4 {
    --col-size: 4;
  }

  .col-md-5 {
    --col-size: 5;
  }

  .col-md-6 {
    --col-size: 6;
  }

  .col-md-7 {
    --col-size: 7;
  }

  .col-md-8 {
    --col-size: 8;
  }

  .col-md-9 {
    --col-size: 9;
  }

  .col-md-10 {
    --col-size: 10;
  }

  .col-md-11 {
    --col-size: 11;
  }

  .col-md-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 575.98px) {
  .collection .collection-inner {
    --column-space: 1.4rem;
  }
  .collection .collection-inner .category-list {
    display: none;
  }

  .collection .collection-inner .location-list {
    margin-top: 28.1rem;
    margin-bottom: 3.6rem;
  }
  .collection .collection-inner .adv-mobile,
  .collection .collection-inner .product-show .sort-btn {
    display: block;
  }

  .collection .collection-inner .adv-mobile .advertise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .collection .collection-inner .navigation {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .collection .collection-inner .product-show {
    margin-top: 0;
  }

  .collection .collection-inner .col-sm-6:nth-child(15) {
    display: none;
  }
  /* collection : end */
  .footer {
    top: 10.7rem;
  }
  .footer .footer-inner [class*="-block"],
  .footer .footer-inner .company,
  .footer .footer-inner .certification {
    padding-inline: 3.5rem;
  }
  .footer .footer-inner .col-sm-6:nth-child(1) {
    order: 1;
  }
  .footer .footer-inner .col-sm-6:nth-child(2) {
    order: 2;
  }
  .footer .footer-inner .col-sm-6:nth-child(3) {
    order: 4;
  }
  .footer .footer-inner .col-sm-6:nth-child(4) {
    order: 3;
  }
  .footer .footer-inner .social-block {
    align-items: flex-start;
  }
  /* footer : end */
  .col-sm-1 {
    --col-size: 1;
  }

  .col-sm-2 {
    --col-size: 2;
  }

  .col-sm-3 {
    --col-size: 3;
  }

  .col-sm-4 {
    --col-size: 4;
  }

  .col-sm-5 {
    --col-size: 5;
  }

  .col-sm-6 {
    --col-size: 6;
  }

  .col-sm-7 {
    --col-size: 7;
  }

  .col-sm-8 {
    --col-size: 8;
  }

  .col-sm-9 {
    --col-size: 9;
  }

  .col-sm-10 {
    --col-size: 10;
  }

  .col-sm-11 {
    --col-size: 11;
  }

  .col-sm-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 430.98px) {
  .footer {
    top: 10.7rem;
  }

  .footer .footer-inner [class*="-block"],
  .footer .footer-inner .company,
  .footer .footer-inner .certification {
    padding-inline: 0rem;
  }

  .footer .footer-inner .payment-block .payment-list li {
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
    width: 19.2rem;
    height: 4.7rem;
    margin-bottom: 0.6rem;
  }
  .footer .footer-inner .payment-block .payment-list li img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .footer .footer-inner .payment-block .payment-list li a {
    padding: 1rem;
  }
  /* footer : end */
  .col-sm-1 {
    --col-size: 1;
  }

  .col-sm-2 {
    --col-size: 2;
  }

  .col-sm-3 {
    --col-size: 3;
  }

  .col-sm-4 {
    --col-size: 4;
  }

  .col-sm-5 {
    --col-size: 5;
  }

  .col-sm-6 {
    --col-size: 6;
  }

  .col-sm-7 {
    --col-size: 7;
  }

  .col-sm-8 {
    --col-size: 8;
  }

  .col-sm-9 {
    --col-size: 9;
  }

  .col-sm-10 {
    --col-size: 10;
  }

  .col-sm-11 {
    --col-size: 11;
  }

  .col-sm-12 {
    --col-size: 12;
  }
}
