@media screen and (max-width: 1399.98px) {
  .container {
    padding: 0;
  }
  .col-xxl-1 {
    --col-size: 1;
  }

  .col-xxl-2 {
    --col-size: 2;
  }

  .col-xxl-3 {
    --col-size: 3;
  }

  .col-xxl-4 {
    --col-size: 4;
  }

  .col-xxl-5 {
    --col-size: 5;
  }

  .col-xxl-6 {
    --col-size: 6;
  }

  .col-xxl-7 {
    --col-size: 7;
  }

  .col-xxl-8 {
    --col-size: 8;
  }

  .col-xxl-9 {
    --col-size: 9;
  }

  .col-xxl-10 {
    --col-size: 10;
  }

  .col-xxl-11 {
    --col-size: 11;
  }

  .col-xxl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 1199.98px) {
  .col-xl-1 {
    --col-size: 1;
  }

  .col-xl-2 {
    --col-size: 2;
  }

  .col-xl-3 {
    --col-size: 3;
  }

  .col-xl-4 {
    --col-size: 4;
  }

  .col-xl-5 {
    --col-size: 5;
  }

  .col-xl-6 {
    --col-size: 6;
  }

  .col-xl-7 {
    --col-size: 7;
  }

  .col-xl-8 {
    --col-size: 8;
  }

  .col-xl-9 {
    --col-size: 9;
  }

  .col-xl-10 {
    --col-size: 10;
  }

  .col-xl-11 {
    --col-size: 11;
  }

  .col-xl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 991.98px) {
  .container {
    padding-inline: var(--container-padding);
  }

  .sign .sign-inner {
    width: 89rem;
  }

  .sign .sign-inner .sign-in {
    margin: 5rem 2.8rem;
  }

  .sign .sign-inner .content {
    margin-block: 5rem;
    margin-inline: 2.8rem;
  }

  .col-lg-1 {
    --col-size: 1;
  }

  .col-lg-2 {
    --col-size: 2;
  }

  .col-lg-3 {
    --col-size: 3;
  }

  .col-lg-4 {
    --col-size: 4;
  }

  .col-lg-5 {
    --col-size: 5;
  }

  .col-lg-6 {
    --col-size: 6;
  }

  .col-lg-7 {
    --col-size: 7;
  }

  .col-lg-8 {
    --col-size: 8;
  }

  .col-lg-9 {
    --col-size: 9;
  }

  .col-lg-10 {
    --col-size: 10;
  }

  .col-lg-11 {
    --col-size: 11;
  }

  .col-lg-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 767.98px) {
  .sign .sign-inner {
    border-radius: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3) 40%,
      rgba(255, 255, 255, 1) 40%
    );
    border-radius: 4.5rem;
    width: 55rem;
  }

  .sign .sign-inner [class*="col-"] {
    padding: 0;
  }

  .sign .sign-inner .sign-in {
    margin: 5rem 2.8rem;
  }

  .sign .sign-inner .content {
    margin-block: 5rem;
    margin-inline: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sign .sign-inner .content p {
    display: none;
  }

  .sign .sign-inner .sign-in-place {
    width: 100%;
    border-radius: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col-md-1 {
    --col-size: 1;
  }

  .col-md-2 {
    --col-size: 2;
  }

  .col-md-3 {
    --col-size: 3;
  }

  .col-md-4 {
    --col-size: 4;
  }

  .col-md-5 {
    --col-size: 5;
  }

  .col-md-6 {
    --col-size: 6;
  }

  .col-md-7 {
    --col-size: 7;
  }

  .col-md-8 {
    --col-size: 8;
  }

  .col-md-9 {
    --col-size: 9;
  }

  .col-md-10 {
    --col-size: 10;
  }

  .col-md-11 {
    --col-size: 11;
  }

  .col-md-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 429.98px) {
  .sign .sign-inner {
    width: 40rem;
  }

  .sign .sign-inner .content h2 {
    font-size: 2.4rem;
  }

  .sign .sign-inner .content .button {
    width: 73%;
  }

  .sign .sign-inner .sign-in p {
    font-size: 1.2rem;
  }
  .col-sm-1 {
    --col-size: 1;
  }

  .col-sm-2 {
    --col-size: 2;
  }

  .col-sm-3 {
    --col-size: 3;
  }

  .col-sm-4 {
    --col-size: 4;
  }

  .col-sm-5 {
    --col-size: 5;
  }

  .col-sm-6 {
    --col-size: 6;
  }

  .col-sm-7 {
    --col-size: 7;
  }

  .col-sm-8 {
    --col-size: 8;
  }

  .col-sm-9 {
    --col-size: 9;
  }

  .col-sm-10 {
    --col-size: 10;
  }

  .col-sm-11 {
    --col-size: 11;
  }

  .col-sm-12 {
    --col-size: 12;
  }
}
