.sign {
  background-image: url("../../images/sign/sign-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  padding-block: 25.2rem 0;
  height: 100vh;
  width: 75%;
}

.sign .sign-inner {
  background: #ffffff30;
  border-radius: 4.5rem;
}

.sign .sign-inner .col-6 {
  margin-bottom: 0;
}

.sign .sign-inner .content {
  margin-block: 10.5rem 15.1rem;
  margin-inline: 7.6rem 4.2rem;
}

.sign .sign-inner .content h2 {
  margin-bottom: 3rem;
  font-family: "Manrope", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #404040;
  text-transform: uppercase;
}

.sign .sign-inner .step-list li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.2rem;
}

.sign .sign-inner .step-list li span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  background: #f0f0f0;
  border-radius: 0.8rem;
  color: #000;
  font-size: 1.8rem;
  font-weight: 600;
}

.sign .sign-inner .step-list li a {
  font-size: 1.6rem;
  font-weight: 600;
  color: #323232;
}

.sign .sign-inner .step-list li a:hover {
  text-decoration: underline;
}

/* .content : end */

.sign .sign-inner .sign-up-place {
  background: #fff;
  border-radius: 4.5rem;
}
.sign .sign-inner .sign-up,
.sign .sign-inner .sign-up input {
  font-family: "Inter", sans-serif;
}

.sign .sign-inner .sign-up {
  text-align: center;
  margin: 8.6rem 6.8rem;
}

.sign .sign-inner .sign-up h1 {
  text-align: left;
  margin-bottom: 2.5rem;
  font-family: "Manrope", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}

.sign .sign-inner .sign-up .email-address,
.sign .sign-inner .sign-up .password {
  position: relative;
}

.sign .sign-inner .sign-up input {
  width: 100%;
  height: 4.8rem;
  padding: 1.4rem 6.1rem;
  border-radius: 10rem;
  background: #f2f2f2;
  margin-bottom: 1.9rem;
}

.sign .sign-inner .sign-up label > span {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
  cursor: text;
  position: absolute;
  top: 1.2rem;
  left: 2.4rem;
}

.sign .sign-inner .sign-up label > span > span {
  width: max-content;
  color: #afafaf;
  position: relative;
  top: 0;
  transition: top 0.4s ease;
  user-select: none;
}
.sign .sign-inner .sign-up input:focus ~ span > span,
.sign .sign-inner .sign-up input:not(:placeholder-shown) ~ span > span {
  top: -2.5rem;
  background: #fff;
  padding-inline: 0.2rem;
  color: var(--primary-color);
}
.sign .sign-inner .sign-up input:focus,
.sign .sign-inner .sign-up input:not(:placeholder-shown) {
  outline: 0.1rem solid var(--primary-color);
  background: #fff;
}

.sign .sign-inner .sign-up .button {
  opacity: 0.9;
  background: #ed5a25;
  border-radius: 10rem;
  padding: 1.45rem 0;
  margin-bottom: 7rem;
}

.sign .sign-inner .sign-up .button span {
  padding: 1.45rem 5.7rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.sign .sign-inner .sign-up .button:hover {
  opacity: 1;
  cursor: pointer;
}

.sign .sign-inner .sign-up p {
  margin-bottom: 2.1rem;
  text-align: center;
  color: #999;
  font-weight: 400;
}
.sign .sign-inner .sign-up form p a:hover {
  text-decoration: underline;
}
.sign .sign-inner .sign-up .social-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.sign .sign-inner .sign-up .social-account .social-icon {
  position: relative;
  top: 0;
  transition: top 0.4s ease;
}
.sign .sign-inner .sign-up .social-account .social-icon:hover {
  top: -0.5rem;
}
