.sign {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/sign/sign-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign .sign-inner {
  background: #ffffff30;
  border-radius: 4.5rem;
}

.sign .sign-inner .col-6 {
  margin-bottom: 0;
}

.sign .sign-inner .content {
  margin-block: 10.5rem 15.1rem;
  margin-inline: 7rem 6.6rem;
}

.sign .sign-inner .content h2 {
  margin-bottom: 3rem;
  font-family: "Manrope", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #404040;
  text-transform: uppercase;
}

.sign .sign-inner .content p {
  margin-bottom: 4.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #323232;
  line-height: 1.3;
}

.sign .sign-inner .content .button {
  width: max-content;
  background: rgb(237, 90, 37);
  border-radius: 10rem;
  padding: 1.45rem 0;
  transition: box-shadow 0.4s ease;
  user-select: none;
}

.sign .sign-inner .content .button a {
  padding: 1.45rem 2.93rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.sign .sign-inner .content .button:hover {
  box-shadow: 0 0 2rem 0 var(--primary-color);
  cursor: pointer;
}
/* .content : end */

.sign .sign-inner .sign-in-place {
  background: #fff;
  border-radius: 4.5rem;
  width: 60rem;
}

.sign .sign-inner .sign-in,
.sign .sign-inner .sign-in input {
  font-family: "Inter", sans-serif;
}

.sign .sign-inner .sign-in {
  margin: 8.6rem 6.8rem;
}

.sign .sign-inner .sign-in h1 {
  margin-bottom: 2.5rem;
  font-family: "Manrope", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}

.sign .sign-inner .sign-in .email-address,
.sign .sign-inner .sign-in .password {
  position: relative;
}

.sign .sign-inner .sign-in input {
  width: 100%;
  height: 4.8rem;
  padding: 1.4rem 6.1rem;
  border-radius: 10rem;
  background: #f2f2f2;
  margin-bottom: 1.2rem;
}

.sign .sign-inner .sign-in label > span {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
  cursor: text;
  position: absolute;
  top: 1.2rem;
  left: 2.4rem;
}

.sign .sign-inner .sign-in label > span > span {
  width: max-content;
  color: #afafaf;
  position: relative;
  top: 0;
  transition: top 0.4s ease;
  user-select: none;
}
.sign .sign-inner .sign-in input:focus ~ span > span,
.sign .sign-inner .sign-in input:not(:placeholder-shown) ~ span > span {
  top: -2.4rem;
  background: #fff;
  padding-inline: 0.2rem;
  color: var(--primary-color);
}
.sign .sign-inner .sign-in input:focus,
.sign .sign-inner .sign-in input:not(:placeholder-shown) {
  background: #fff;
  outline: 0.1rem solid var(--primary-color);
}
.sign .sign-inner .sign-in .sign-in-icon:hover {
  opacity: 1;
  cursor: pointer;
}
.sign .sign-inner .sign-in .sign-in-icon {
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--primary-color);
  opacity: 0.8;
  position: absolute;
  top: 0.6rem;
  right: 0.7rem;
  transition: opacity 0.4s ease;
  user-select: none;
}
.sign .sign-inner .sign-in .sign-in-icon span {
  color: #fff;
}
.sign .sign-inner .sign-in form p {
  margin-block: 1.1rem 4.7rem;
  text-align: center;
}
.sign .sign-inner .sign-in p a {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
}

.sign .sign-inner .sign-in p {
  margin-bottom: 2.1rem;
  text-align: center;
  color: #999;
  font-weight: 400;
  font-size: 1.4rem;
}
.sign .sign-inner .sign-in form p a:hover {
  text-decoration: underline;
}
.sign .sign-inner .sign-in .social-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.sign .sign-inner .sign-in .social-account .social-icon {
  position: relative;
  top: 0;
  transition: top 0.4s ease;
}
.sign .sign-inner .sign-in .social-account .social-icon:hover {
  top: -0.5rem;
}
