#header {
  background: #fff;
  border-bottom: 0.1rem solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 115;
}

/* .about-info: begin */
#header .about-info {
  background: var(--primary-color);
}

#header .col-6 {
  margin-bottom: 0;
}

#header .about-info [class*="about-"] {
  padding-block: 0.75rem;
  user-select: none;
}

#header .about-info a,
#header .about-info .other .about-account .user-icon {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#header .about-info .other {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

#header .about-info .other .about-language select {
  background: var(--primary-color);
  color: #fff;
  font-size: 1.4rem;
  user-select: none;
  cursor: pointer;
}

#header .about-info .other .about-language option {
  background: #fff;
  color: var(--primary-color);
  cursor: pointer;
}

#header .about-info a:hover {
  text-decoration: underline;
}

#header .about-info .other .about-account .user-icon:hover {
  text-decoration: none;
  transform: scale(1.2);
}

/* menu sign */

#header .about-info .other .about-account {
  color: #fff;
  position: relative;
  cursor: pointer;
}

#header .about-info .other .about-account .sign {
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 1rem 0 var(--primary-color);
  position: absolute;
  top: 3.9rem;
  right: 0;
  z-index: 118;
  background: #fff;
  transition: 0.4s ease;
  transition-property: opacity visibility;
}

#header .about-info .other .about-account .sign-overlay {
  position: fixed;
  inset: 0;
  z-index: 117;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  transition-property: opacity visibility;
}

#header .about-info .other .about-account .arrow-down {
  padding: 0.4rem;
  font-size: 1.2rem;
  cursor: pointer;
  rotate: 0;
  transition: 0.4s ease;
  transition-property: rotate;
}

#header .about-info .other .about-account .sign li {
  width: 10.5rem;
  border-bottom: 0.1rem solid #eb835d;
  padding: 0.5rem 1.5rem;
}

#header .about-info .other .about-account .sign a {
  color: var(--primary-color);
}

#header .about-info .other .about-account:hover .sign,
#header .about-info .other .about-account:focus .sign {
  opacity: 1;
  visibility: visible;
}

#header .about-info .other .about-account:hover .arrow-down {
  rotate: -180deg;
}

/* about-info: end */

/* .heading: begin */
#header .heading {
  background: var(--secondary-color);
  padding-block: 2.3rem;
  user-select: none;
}

#header .heading-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  font-family: "Poppins", sans-serif;
}

#header .heading-logo .brand h1 {
  font-size: 3.239rem;
  font-weight: 600;
}

#header .heading-logo .brand a {
  color: #404040;
}

#header .heading-logo .brand span {
  color: var(--primary-color);
}

#header .heading .heading-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Manrope", sans-serif;
  position: relative;
}

#header .heading .heading-search .condition {
  padding: 1.3rem 1.8rem;
  border: 0.1051rem solid #fff0ec;
  border-right-width: 0;
  border-top-left-radius: 10.5143rem;
  border-bottom-left-radius: 10.5143rem;
  background: #fff;
  color: #aeaeae;
  font-size: 1.472rem;
  line-height: 1.4rem;
  cursor: default;
}

#header .heading .heading-search .search-btn input {
  width: 35.1rem;
  height: 4.2rem;
  border: 0.1051rem solid #fff0ec;
  border-top-right-radius: 10.5143rem;
  border-bottom-right-radius: 10.5143rem;
  padding-inline: 1.42rem 4.8rem;
}

#header .heading .heading-search .search-btn .search-icon {
  background: #fff;
  font-size: 2.1rem;
  color: #5c5c5c;
  position: absolute;
  top: 1rem;
  right: 1.7rem;
  cursor: pointer;
}

#header .heading .heading-search .search-btn .search-icon:hover {
  color: var(--primary-color);
}
/* heading: end */

/* .navigation-contact: begin */

#header .navigation-contact .navigation {
  user-select: none;
}

#header .navigation-contact .navigation ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-block: 1.5rem;
}
#header .navigation-contact .navigation ul li a {
  padding-block: 1.5rem;
  color: #565656;
  font-size: 1.472rem;
  font-weight: 500;
}

#header .navigation-contact .navigation ul li:nth-child(1) a {
  color: var(--primary-color);
}

#header .navigation-contact a:hover {
  text-decoration: underline;
}

#header .contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#header .contact a::before {
  content: "\2706";
  display: inline-block;
  margin-right: 0.84rem;
  rotate: -90deg;
}

#header .navigation-contact .contact a {
  padding-block: 1.3rem;
  font-size: 1.472rem;
  font-weight: 600;
  color: #5c5c5c;
}

/* .navigation-contact: end */

/* mobile:  begin */
#header .about-info .row:nth-child(1),
#header .navigation-contact .row:nth-child(1) {
  display: none;
}

#header .contact a {
  padding-block: 1.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  line-height: normal;
}

#header .subway-menu {
  padding-block: 1.8rem;
}

#header .navigation-contact .menu-icon {
  padding-block: 1.8rem;
  font-size: 1.8rem;
  color: var(--primary-color);
}

#header .navigation-contact .other {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

#header .navigation-contact .other .search-icon {
  padding-block: 1.9rem;
  background: #fff;
  font-size: 1.6rem;
  color: #5c5c5c;
}

#header .navigation-contact .other .user-icon {
  padding-block: 1.9rem;
  font-size: 1.6rem;
  color: #5c5c5c;
  user-select: none;
}

#header .navigation-contact .other .user-icon:active,
#header .navigation-contact .other .user-icon:focus {
  color: var(--primary-color);
}

#header .navigation-contact .other {
  color: #fff;
  position: relative;
  cursor: pointer;
}

#header .navigation-contact .other .sign {
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 1rem 0 var(--primary-color);
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 120;
  background: #fff;
  transition: 0.4s ease;
  transition-property: opacity visibility rotate;
}

#header .navigation-contact .other .sign li {
  display: flex;
  align-items: center;
  width: 8rem;
  border-bottom: 0.1rem solid #eb835d;
  padding: 0.5rem;
}

#header .navigation-contact .other .sign a {
  color: var(--primary-color);
  font-size: 1rem;
}

#header .navigation-contact #account-toggle:checked + .sign,
#header .navigation-contact #account-toggle:checked ~ .sign-overlay {
  opacity: 1;
  visibility: visible;
}

#header .navigation-contact .other .sign-overlay {
  position: fixed;
  inset: 0;
  z-index: 119;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  transition-property: opacity visibility;
}

/* mobile:  end */
