@media screen and (max-width: 1399.98px) {
  .col-xxl-1 {
    --col-size: 1;
  }

  .col-xxl-2 {
    --col-size: 2;
  }

  .col-xxl-3 {
    --col-size: 3;
  }

  .col-xxl-4 {
    --col-size: 4;
  }

  .col-xxl-5 {
    --col-size: 5;
  }

  .col-xxl-6 {
    --col-size: 6;
  }

  .col-xxl-7 {
    --col-size: 7;
  }

  .col-xxl-8 {
    --col-size: 8;
  }

  .col-xxl-9 {
    --col-size: 9;
  }

  .col-xxl-10 {
    --col-size: 10;
  }

  .col-xxl-11 {
    --col-size: 11;
  }

  .col-xxl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 1299.98px) {
  .container {
    padding-inline: var(--container-padding);
  }

  .header .header-inner .search-box #search-button {
    width: 37rem;
  }

  /* col-size */
  .col-xl-1 {
    --col-size: 1;
  }

  .col-xl-2 {
    --col-size: 2;
  }

  .col-xl-3 {
    --col-size: 3;
  }

  .col-xl-4 {
    --col-size: 4;
  }

  .col-xl-5 {
    --col-size: 5;
  }

  .col-xl-6 {
    --col-size: 6;
  }

  .col-xl-7 {
    --col-size: 7;
  }

  .col-xl-8 {
    --col-size: 8;
  }

  .col-xl-9 {
    --col-size: 9;
  }

  .col-xl-10 {
    --col-size: 10;
  }

  .col-xl-11 {
    --col-size: 11;
  }

  .col-xl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 1199.98px) {
  /* col-size */
  .col-xl-1 {
    --col-size: 1;
  }

  .col-xl-2 {
    --col-size: 2;
  }

  .col-xl-3 {
    --col-size: 3;
  }

  .col-xl-4 {
    --col-size: 4;
  }

  .col-xl-5 {
    --col-size: 5;
  }

  .col-xl-6 {
    --col-size: 6;
  }

  .col-xl-7 {
    --col-size: 7;
  }

  .col-xl-8 {
    --col-size: 8;
  }

  .col-xl-9 {
    --col-size: 9;
  }

  .col-xl-10 {
    --col-size: 10;
  }

  .col-xl-11 {
    --col-size: 11;
  }

  .col-xl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 991.98px) {
  .header .container {
    padding-inline: 0;
  }
  .header .header-inner {
    --column-space: 0;
  }
  .header .header-inner .heading,
  .header .header-inner .navigation {
    padding-inline: 1.5rem;
  }
  .header .header-inner .heading .header-logo {
    margin-bottom: 2.4rem;
  }

  .header .header-inner .heading .search-box #search-button {
    width: 28rem;
  }
  /* header : end */

  .account-info .account-info-inner .history-purchase .title {
    margin-bottom: 4.5rem;
  }
  .col-lg-1 {
    --col-size: 1;
  }

  .col-lg-2 {
    --col-size: 2;
  }

  .col-lg-3 {
    --col-size: 3;
  }

  .col-lg-4 {
    --col-size: 4;
  }

  .col-lg-5 {
    --col-size: 5;
  }

  .col-lg-6 {
    --col-size: 6;
  }

  .col-lg-7 {
    --col-size: 7;
  }

  .col-lg-8 {
    --col-size: 8;
  }

  .col-lg-9 {
    --col-size: 9;
  }

  .col-lg-10 {
    --col-size: 10;
  }

  .col-lg-11 {
    --col-size: 11;
  }

  .col-lg-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 767.98px) {
  .header .header-inner .heading .col-6,
  .header .header-inner .navigation .col-4,
  .header .header-inner .navigation .col-6 {
    display: none;
  }
  .header .header-inner .navigation .col-12 {
    display: block;
    margin-bottom: 0;
  }
  .header .header-inner .navigation {
    padding-inline: 0rem;
  }
  .header .header-inner .navigation .heading-icon-mb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    padding: 1.5rem;
  }
  /* header : end */
  .account-info .account-info-inner .avatar .camera-icon {
    right: 7.2rem;
  }
  .account-info .account-info-inner .about-other {
    padding-bottom: 6rem;
  }
  .account-info .account-info-inner .information {
    margin-top: -4.9rem;
  }
  .account-info .account-info-inner .history-purchase .title {
    padding-bottom: 2.9rem;
    margin-bottom: 2.3rem;
    border-bottom: 0.1rem dashed #ddd;
  }
  .account-info .account-info-inner .history-purchase [class*="circle-"],
  .account-info .account-info-inner .account-overview .col-sm-12:nth-child(3) {
    display: block;
  }

  .account-info .account-info-inner .account-overview {
    margin-top: -4.9rem;
    padding: 3.4rem 2.8rem 0.1rem;
  }

  .account-info .account-info-inner .account-overview .col-sm-12:nth-child(4) {
    order: 1;
  }
  .account-info .account-info-inner .account-overview .col-sm-12:nth-child(2) {
    order: 2;
  }
  .account-info .account-info-inner .account-overview .col-sm-12:nth-child(1) {
    order: 3;
  }
  .account-info .account-info-inner .account-overview .col-sm-12:nth-child(3) {
    order: 4;
  }

  /* footer */
  #footer {
    margin-top: 4.3rem;
    --column-space: 0;
  }

  #footer [class*="-block"],
  #footer .company,
  #footer .certification {
    padding-inline: 2rem;
  }
  #footer .col-sm-6:nth-child(1) {
    order: 1;
  }
  #footer .col-sm-6:nth-child(2) {
    order: 2;
  }
  #footer .col-sm-6:nth-child(3) {
    order: 4;
  }
  #footer .col-sm-6:nth-child(4) {
    order: 3;
  }

  #footer .social-block {
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
  }
  .col-md-1 {
    --col-size: 1;
  }

  .col-md-2 {
    --col-size: 2;
  }

  .col-md-3 {
    --col-size: 3;
  }

  .col-md-4 {
    --col-size: 4;
  }

  .col-md-5 {
    --col-size: 5;
  }

  .col-md-6 {
    --col-size: 6;
  }

  .col-md-7 {
    --col-size: 7;
  }

  .col-md-8 {
    --col-size: 8;
  }

  .col-md-9 {
    --col-size: 9;
  }

  .col-md-10 {
    --col-size: 10;
  }

  .col-md-11 {
    --col-size: 11;
  }

  .col-md-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 575.98px) {
  .header .header-inner .heading .col-4,
  .header .header-inner .heading .col-6:nth-child(2),
  .header .header-inner .heading .col-2 {
    display: none;
  }
  .header .header-inner .heading .col-6:nth-child(4),
  .header .header-inner .heading .col-6:nth-child(5) {
    display: block;
    margin-bottom: 0;
  }
  .header .header-inner .heading {
    padding: 0;
  }

  .header .header-inner .heading .contact a {
    padding-block: 1.65rem;
    font-size: 1.4rem;
  }

  .header .header-inner .heading .contact a::before {
    font-size: 1.4rem;
    rotate: -75deg;
  }

  /* header end */

  .account-info {
    margin-top: 10.7rem;
    margin-bottom: 0;
  }

  .account-info .account-info-inner .theme {
    height: 42.1rem;
    width: 100%;
    object-fit: cover;
  }

  .account-info .account-info-inner .information {
    margin-block: -35.9rem 2.8rem;
    padding-bottom: 5rem;
  }

  .account-info .account-info-inner .about-other h4:nth-child(4),
  .account-info .account-info-inner .about-other h4:nth-child(5) {
    display: flex;
  }

  .account-info .account-info-inner .avatar .camera-icon {
    right: 15.7rem;
  }

  .account-info .account-info-inner .about-other {
    padding-bottom: 0rem;
  }

  .account-info .account-info-inner .account-overview {
    margin-top: 0rem;
  }

  .account-info .account-info-inner .account-overview .col-sm-12 {
    margin-bottom: 3.1rem;
  }
  .account-info .account-info-inner .account-overview .col-sm-12:nth-child(1) {
    margin-bottom: 2.8rem;
  }

  .account-info .account-info-inner .account-overview .col-sm-12:nth-child(4) {
    display: block;
  }

  /* collection : end */
  /* footer */
  #footer {
    margin-top: 4.3rem;
    --column-space: 0;
  }

  #footer [class*="-block"],
  #footer .company,
  #footer .certification {
    padding-inline: 2rem;
  }
  #footer .col-sm-6:nth-child(1) {
    order: 1;
  }
  #footer .col-sm-6:nth-child(2) {
    order: 2;
  }
  #footer .col-sm-6:nth-child(3) {
    order: 4;
  }
  #footer .col-sm-6:nth-child(4) {
    order: 3;
  }

  #footer .social-block {
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
  }

  #footer .payment-block .payment-list li {
    display: flex;
    justify-content: space-between;
    gap: 0.47rem;
    width: 21.6rem;
    height: 4.7rem;
    margin-bottom: 0.6rem;
  }

  #footer .payment-block .payment-list li a {
    padding: 1rem;
  }
  /* footer : end */
  .col-sm-1 {
    --col-size: 1;
  }

  .col-sm-2 {
    --col-size: 2;
  }

  .col-sm-3 {
    --col-size: 3;
  }

  .col-sm-4 {
    --col-size: 4;
  }

  .col-sm-5 {
    --col-size: 5;
  }

  .col-sm-6 {
    --col-size: 6;
  }

  .col-sm-7 {
    --col-size: 7;
  }

  .col-sm-8 {
    --col-size: 8;
  }

  .col-sm-9 {
    --col-size: 9;
  }

  .col-sm-10 {
    --col-size: 10;
  }

  .col-sm-11 {
    --col-size: 11;
  }

  .col-sm-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 430.98px) {
  .account-info .account-info-inner .avatar .camera-icon {
    right: 8.7rem;
  }

  /* footer */
  #footer {
    margin-top: 4.3rem;
    --column-space: 0;
  }

  #footer [class*="-block"],
  #footer .company,
  #footer .certification {
    padding-inline: 2rem;
  }
  #footer .col-sm-6:nth-child(1) {
    order: 1;
  }
  #footer .col-sm-6:nth-child(2) {
    order: 2;
  }
  #footer .col-sm-6:nth-child(3) {
    order: 4;
  }
  #footer .col-sm-6:nth-child(4) {
    order: 3;
  }

  #footer .social-block {
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
  }

  #footer .payment-block .payment-list li {
    display: flex;
    justify-content: space-between;
    gap: 0.47rem;
    width: 16rem;
    height: 3.8rem;
    margin-bottom: 0.6rem;
  }

  #footer .payment-block .payment-list li a {
    padding: 1rem;
  }

  #footer .certification .certification-image {
    gap: 1.7rem;
  }

  /* footer : end */
  .col-sm-1 {
    --col-size: 1;
  }

  .col-sm-2 {
    --col-size: 2;
  }

  .col-sm-3 {
    --col-size: 3;
  }

  .col-sm-4 {
    --col-size: 4;
  }

  .col-sm-5 {
    --col-size: 5;
  }

  .col-sm-6 {
    --col-size: 6;
  }

  .col-sm-7 {
    --col-size: 7;
  }

  .col-sm-8 {
    --col-size: 8;
  }

  .col-sm-9 {
    --col-size: 9;
  }

  .col-sm-10 {
    --col-size: 10;
  }

  .col-sm-11 {
    --col-size: 11;
  }

  .col-sm-12 {
    --col-size: 12;
  }
}
