.modal {
  position: absolute;
  inset: 0;
  z-index: 120;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  transition-property: opacity visibility;
}

.modal .modal-inner {
  width: 34.1rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
  background: #fff;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
}

.modal .modal-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  padding: 2.7rem 2.7rem 2.09rem;
  border-bottom: 0.1rem solid #f2f2f2;
  font-family: "Poppins", sans-serif;
}

.modal .modal-heading .brand h1 {
  font-size: 3.239rem;
  font-weight: 600;
}

.modal .modal-heading .brand a {
  color: #404040;
}

.modal .modal-heading .brand span {
  color: var(--primary-color);
}

.modal .modal-heading .close-btn {
  margin-left: auto;
  padding: 1rem 0.8rem;
  font-size: 1.6rem;
  color: #787777;
}

.modal .modal-heading .close-btn:hover {
  color: rgb(249, 48, 48);
}

.modal .modal-heading .close-btn:focus {
  color: rgb(249, 48, 48);
}

/* .modal-heading: end */

.modal .modal-body {
  padding: 3.7rem 2.7rem 0;
}

.modal .modal-body a {
  display: block;
  padding-bottom: 2.4rem;
  color: #565656;
  font-size: 1.472rem;
  font-weight: 600;
  line-height: normal;
}

.modal .modal-body a:hover {
  color: var(--primary-color);
}

.modal .modal-body a:focus {
  color: var(--primary-color);
}

/* .modal-body: end */

.modal .modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 499;
  background: #00000079;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  transition-property: opacity visibility;
}

#menu-toggle:checked ~ .modal,
#menu-toggle:checked ~ .modal .modal-overlay {
  opacity: 1;
  visibility: visible;
}

#menu-toggle:checked ~ .modal .modal-inner {
  transform: translateX(0);
}
