.payment {
  background: url("../../images/payment-onl/payment-bg.jpg") lightgray -712.029px -1721.827px /
    155.863% 353.092% no-repeat;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
}

.payment .payment-inner {
  padding-block: 12.4rem 18.5rem;
  width: 47.5rem;
}

.payment .payment-inner .payment-space h1 {
  margin-bottom: 4.7rem;
  font-size: 3.2rem;
  font-weight: 600;
  color: #323232;
  text-align: center;
}

.payment .payment-inner .payment-space h2 {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #323232;
  text-transform: uppercase;
}

.payment .payment-inner .payment-space input {
  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 4.8rem;
  border: 0.2rem solid #e5e5e5;
  padding-block: 1.7rem;
  padding-inline: 11.8rem 2rem;
}

.payment .payment-inner .payment-space input:focus {
  border: 0.1rem solid var(--primary-color);
}

.payment .payment-inner .payment-space .payment-info {
  margin-bottom: 2.8rem;
}
.payment .payment-inner .payment-space .payment-info input::placeholder {
  color: #242424;
}

.payment .payment-inner .payment-space .payment-info .name input {
  border-bottom-width: 0.1rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.payment .payment-inner .payment-space .payment-info .email input {
  border-top-width: 0.1rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.payment .payment-inner .payment-space .payment-info .name,
.payment .payment-inner .payment-space .payment-info .email {
  position: relative;
}

.payment .payment-inner .payment-space .payment-info .name p,
.payment .payment-inner .payment-space .payment-info .email p {
  position: absolute;
  top: 1.4rem;
  left: 2.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #b8b8b8;
  user-select: none;
}

.payment .payment-inner .payment-space .payment-card h2 {
  color: #000;
}

.payment .payment-inner .payment-space .payment-card input {
  font-family: "Inter", sans-serif;
  height: 6.7rem;
  padding-left: 2.5rem;
  padding-right: 5rem;
  padding-top: 4rem;
  padding-bottom: 1.3rem;
}

.payment .payment-inner .payment-space .payment-card input::placeholder {
  color: #c4c4c4;
}

.payment .payment-inner .payment-space .payment-card .card-number input {
  border-bottom-width: 0.1rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.payment .payment-inner .payment-space .payment-card .code input {
  border-top-width: 0.1rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.payment .payment-inner .payment-space .payment-card .date input {
  border-top-width: 0.1rem;
  border-bottom-width: 0.1rem;
}

.payment .payment-inner .payment-space .payment-card .card-number,
.payment .payment-inner .payment-space .payment-card .date,
.payment .payment-inner .payment-space .payment-card .code {
  position: relative;
}

.payment .payment-inner .payment-space .payment-card .card-number p,
.payment .payment-inner .payment-space .payment-card .date p,
.payment .payment-inner .payment-space .payment-card .code p {
  position: absolute;
  top: 1.5rem;
  left: 2.7rem;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #121212;
  user-select: none;
}

.payment .payment-inner .payment-space .payment-card .card-number img {
  position: absolute;
  top: 2.4rem;
  right: 2.6rem;
  font-size: 2.4rem;
}

.payment .payment-inner .payment-space button {
  width: 100%;
  padding: 1.2rem 3rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.payment .payment-inner .payment-space button[type="submit"] {
  margin-block: 2rem 1.1rem;
  background: var(--primary-color);
  color: #fff;
}

.payment .payment-inner .payment-space button[type="reset"] {
  background: #e5e5e5;
  color: #323232;
}
