@media screen and (max-width: 1399.98px) {
  .col-xxl-1 {
    --col-size: 1;
  }

  .col-xxl-2 {
    --col-size: 2;
  }

  .col-xxl-3 {
    --col-size: 3;
  }

  .col-xxl-4 {
    --col-size: 4;
  }

  .col-xxl-5 {
    --col-size: 5;
  }

  .col-xxl-6 {
    --col-size: 6;
  }

  .col-xxl-7 {
    --col-size: 7;
  }

  .col-xxl-8 {
    --col-size: 8;
  }

  .col-xxl-9 {
    --col-size: 9;
  }

  .col-xxl-10 {
    --col-size: 10;
  }

  .col-xxl-11 {
    --col-size: 11;
  }

  .col-xxl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 1299.98px) {
  .container {
    padding-inline: var(--container-padding);
  }
  .payment {
    background: url("../../images/payment-onl/payment-bg.jpg") lightgray -712.029px -1721.827px /
      160.863% 353.092% no-repeat;
  }
  /* col-size */
  .col-xl-1 {
    --col-size: 1;
  }

  .col-xl-2 {
    --col-size: 2;
  }

  .col-xl-3 {
    --col-size: 3;
  }

  .col-xl-4 {
    --col-size: 4;
  }

  .col-xl-5 {
    --col-size: 5;
  }

  .col-xl-6 {
    --col-size: 6;
  }

  .col-xl-7 {
    --col-size: 7;
  }

  .col-xl-8 {
    --col-size: 8;
  }

  .col-xl-9 {
    --col-size: 9;
  }

  .col-xl-10 {
    --col-size: 10;
  }

  .col-xl-11 {
    --col-size: 11;
  }

  .col-xl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 1199.98px) {
  .payment {
    background: url("../../images/payment-onl/payment-bg.jpg") lightgray -712.029px -1721.827px /
      160.863% 353.092% no-repeat;
  }
  /* col-size */
  .col-xl-1 {
    --col-size: 1;
  }

  .col-xl-2 {
    --col-size: 2;
  }

  .col-xl-3 {
    --col-size: 3;
  }

  .col-xl-4 {
    --col-size: 4;
  }

  .col-xl-5 {
    --col-size: 5;
  }

  .col-xl-6 {
    --col-size: 6;
  }

  .col-xl-7 {
    --col-size: 7;
  }

  .col-xl-8 {
    --col-size: 8;
  }

  .col-xl-9 {
    --col-size: 9;
  }

  .col-xl-10 {
    --col-size: 10;
  }

  .col-xl-11 {
    --col-size: 11;
  }

  .col-xl-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 991.98px) {
  .payment {
    background: url("../../images/payment-onl/payment-bg.jpg") lightgray -712.029px -1721.827px /
      180.863% 353.092% no-repeat;
  }

  .col-lg-1 {
    --col-size: 1;
  }

  .col-lg-2 {
    --col-size: 2;
  }

  .col-lg-3 {
    --col-size: 3;
  }

  .col-lg-4 {
    --col-size: 4;
  }

  .col-lg-5 {
    --col-size: 5;
  }

  .col-lg-6 {
    --col-size: 6;
  }

  .col-lg-7 {
    --col-size: 7;
  }

  .col-lg-8 {
    --col-size: 8;
  }

  .col-lg-9 {
    --col-size: 9;
  }

  .col-lg-10 {
    --col-size: 10;
  }

  .col-lg-11 {
    --col-size: 11;
  }

  .col-lg-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 767.98px) {
  .payment {
    background: url("../../images/payment-onl/payment-bg.jpg") lightgray -712.029px -1721.827px /
      193.863% 353.092% no-repeat;
  }

  .col-md-1 {
    --col-size: 1;
  }

  .col-md-2 {
    --col-size: 2;
  }

  .col-md-3 {
    --col-size: 3;
  }

  .col-md-4 {
    --col-size: 4;
  }

  .col-md-5 {
    --col-size: 5;
  }

  .col-md-6 {
    --col-size: 6;
  }

  .col-md-7 {
    --col-size: 7;
  }

  .col-md-8 {
    --col-size: 8;
  }

  .col-md-9 {
    --col-size: 9;
  }

  .col-md-10 {
    --col-size: 10;
  }

  .col-md-11 {
    --col-size: 11;
  }

  .col-md-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 575.98px) {
  .payment {
    background: url("../../images/payment-onl/payment-bg.jpg") lightgray -212.62px -1582.167px /
      149.863% 353.092% no-repeat;
  }

  .container {
    display: block;
    max-width: var(--container-width);
    margin-inline: auto;
  }

  .header .header-inner {
    --column-space: 3rem;
  }
  .header .header-inner .heading [class*="col-sm-"],
  .header .header-inner .navigation [class*="col-sm-"] {
    margin-bottom: 0;
  }
  .header .header-inner .heading,
  .header .header-inner .navigation .heading-icon-mb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
  }

  .header .header-inner .navigation .heading-icon-mb {
    gap: 1.2rem;
    padding-block: 1.5rem;
  }
  /* end .header */
  .payment {
    position: relative;
    top: 10.7rem;
  }

  .payment .payment-inner {
    padding-block: 5.6rem 23.8rem;
    width: 47.5rem;
    margin: 0 auto;
  }
  .col-sm-1 {
    --col-size: 1;
  }

  .col-sm-2 {
    --col-size: 2;
  }

  .col-sm-3 {
    --col-size: 3;
  }

  .col-sm-4 {
    --col-size: 4;
  }

  .col-sm-5 {
    --col-size: 5;
  }

  .col-sm-6 {
    --col-size: 6;
  }

  .col-sm-7 {
    --col-size: 7;
  }

  .col-sm-8 {
    --col-size: 8;
  }

  .col-sm-9 {
    --col-size: 9;
  }

  .col-sm-10 {
    --col-size: 10;
  }

  .col-sm-11 {
    --col-size: 11;
  }

  .col-sm-12 {
    --col-size: 12;
  }
}

@media screen and (max-width: 430.98px) {
  .payment .payment-inner {
    width: 40.4rem;
  }

  .col-sm-1 {
    --col-size: 1;
  }

  .col-sm-2 {
    --col-size: 2;
  }

  .col-sm-3 {
    --col-size: 3;
  }

  .col-sm-4 {
    --col-size: 4;
  }

  .col-sm-5 {
    --col-size: 5;
  }

  .col-sm-6 {
    --col-size: 6;
  }

  .col-sm-7 {
    --col-size: 7;
  }

  .col-sm-8 {
    --col-size: 8;
  }

  .col-sm-9 {
    --col-size: 9;
  }

  .col-sm-10 {
    --col-size: 10;
  }

  .col-sm-11 {
    --col-size: 11;
  }

  .col-sm-12 {
    --col-size: 12;
  }
}
